body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.errorMessage {
  color: red;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

b.headline {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   17px;
  line-height: 18px;
  padding: 5px 5px 5px 15px;
}

#footer {
	clear: both;
	width: 95%;
	margin: 10px;
	text-align: center;
	font-family: Verdana;
	font-size: 11px;
	padding: 3px;
	border-top: 1px solid #333;
	color: #000;
	}


/**** Open ID plugin ****/

fieldset {border-style:none;}
img {border-style:none;}

form.openid ul { text-align:center; list-style-type:none; display:inline;}
form.openid ul li {float:left; padding:4px}
form.openid ul li span {padding:0 1em 0 3px}
form.openid fieldset {clear:both; padding:1em 0}
form.openid div+fieldset {display:none}
form.openid label {display:block; font-weight:bold; font-size:larger; margin-bottom:.5em}
input[name=openid_username] {width:8em}
input[name=openid_identifier] {width:18em}
form.openid ul li.highlight { -moz-border-radius:4px; -webkit-border-radius:4px; background-color: #FD6}
form.openid fieldset div {font-family:arial;-moz-border-radius:4px; -webkit-border-radius:4px; 
                          background: #DCDCDC url(images/openid/fadegrey.png); padding:10px;display:inline-block}
form.openid input[type='submit'] {margin-left:1em;}

.openid_logo{color:#F7931E;padding:6px 0px 8px 28px; background: url(images/openid/openidico.png) no-repeat}

#openid_login{float:left; font-size:larger; width:30%; margin:2em 1em; text-align:center}
#openid_login div{margin-top:0.5em}
#openid_login div+span{font-size:smaller}