body { 
    background-color: #fff;
    color: #000; 
    margin:0;
    padding:0;
}

body, p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#header {
        background-color: #bbd9ee; 
        padding: 1% 5% 0%;
        height: 50px;
        color: #000;   
        vertical-align: bottom;
        padding-bottom: 0px; 
}

.title {
    margin-top: 25px; 
    font-size:   17px;
    float:left;
    font-weight: bold;
}

.login {
    margin-top: 25px; 
    float: right;
    display:inline;
}

#main{
    background-color: #fff; 
    padding: 1% 5%;
    color: #000;    
}

#footer {
    text-align: center;
    height: 30px;
    background-color: #ebf4fa; 
}

.centered {
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
}

a:link { color: #000; }
a:visited { color: #000; }

/*#items a:link{ color: #6B5245; }*/
#items a:visited { color: #6b5245; }

form { display: inline; }
.new-crowd { text-align: center; }



/*********************************************************************************/
/*
#main {
    margin: 0; padding: 0;
    background-color: #bbd9ee; 
    height: 50px;
    color: #000;
}

a:link { color: #000; }
a:visited { color: #000; }

.item a:link{ color: #6B5245; }
.item a:visited { color: blue; }


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

form {
    display: inline;
}

.new-crowd {
    margin-left: 20%;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

b.headline {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   17px;
  line-height: 18px;
  padding: 5px 5px 5px 15px;
  color: #000;
}

#footer {
    clear: both;
    width: 95%;
    margin: 10px;
    text-align: center;
    font-family: Verdana;
    font-size: 11px;
    padding: 3px;
    border-top: 1px solid #333;
    color: #000;
    }
*/