html, body { 
    background-color: #fff;
    color: #000; 
    margin:0;
    padding:0;
}

body, p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#top { position:absolute; }

#container {
    min-height: 100%;
    margin-bottom: -30px;
}
* html #container {
    height: 100%;
}

#message {
    background-color: #ebf4fa;
    margin: 20px 200px 10px 200px;
    color: #6b5245;
    padding: 5px 15px 5px 15px;
}

#message a {
    color: blue;
}

#message h1 {
    text-align: center;
    
}
#notice *{
    text-align: center;
    color: #6b5245;
}
/*#notice a {  }*/

#header {
        background-color: #bbd9ee; 
        padding: 1% 5% 0%;
        height: 50px;
        color: #000;   
        vertical-align: bottom;
        padding-bottom: 0px; 
}

.title {
    margin-top: 25px; 
    font-size:   17px;
    float:left;
    font-weight: bold;
}

.login {
    margin-top: 25px; 
    float: right;
    display:inline;
}

#main{
    background-color: #fff; 
    padding: 1% 5%;
    color: #000;    
}

#footer-spacer {
    height: 30px;
}

#footer {
    text-align: center;
    height: 30px;
    background-color: #ebf4fa; 
}

.centered {
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
}

a:link { color: #000; }
a:visited { color: #000; }

#items a:visited { color: #6b5245; }

form { display: inline; }
.new-crowd { text-align: center; }

#feeds-list {
    margin-left:20%
}

.feed-item {
    width: 500px;
    line-height: 30px;
    margin: 5px;
    padding: 5px;
}

.grey-area *{
    color: grey;
}