<html>
<head>
  <title><%= AppName %></title>
  <%= stylesheet_link_tag 'scaffold' -%>
 	<!-- %= stylesheet_link_tag 'openid-selector' -% -->

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.openid.js"></script>

	<% if controller.controller_name=='items' and controller.action_name=='index' -%>
		<%= auto_discovery_link_tag(:rss, {:controller => :items, :action => :index, :crowd_id => @crowd.id, :format => :xml}) %>
	<% end -%>
</head>
<body>
<table width="%90" height="%100"  cellpadding="5" cellspacing="5" align="center" border="0">
<tr>
	<td valign="top" height="50">
		<table style="background-color: #deeff4; padding: 5px; height:40px;" width="%100"><!-- My God! A table?! -->
		<tr>
			<td><b class="headline"><%= link_to AppName, root_url %></b></td>
			<td align="right">
				<% if current_user -%>
					<% if current_user.crowds.size > 0 %>
						<% user_crowd = current_user.crowds.first %>
						<%= link_to "My crowds", '/' %>
						&nbsp;&nbsp;&nbsp;&nbsp;
					<% end %>
						<%= link_to "Sign Out", '/signout' %>
				<% else -%>
					Sign in with <% login_button -%>
				<% end -%>
			</td>
		</tr>
		</table><!-- fetch the smelling salts! -->
		<tr>
			<td style="color: green"><%= flash[:notice] %></td>
		</tr>
		<tr>
			<td valign="top"><%= yield  %></td>
		</tr>
		<tr>
			<td align="center" height="50" valign="bottom">By <a href="http://niryariv.wordress.com/">Nir Yariv</a></td>
		</tr>
	</td>
</tr>
</table>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-991158-8");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
