<html>
<head>
  <title><%= AppName %></title>
  <%= stylesheet_link_tag 'scaffold' -%>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.always_at_bottom.js"></script>
	
	<script type="text/javascript">
	  $(document).ready(function() {
			$('#footer').always_at_bottom();
	  });
	</script>

  

	<% if controller.controller_name=='items' and controller.action_name=='index' -%>
		<%= auto_discovery_link_tag(:rss, {:controller => :items, :action => :index, :crowd_id => @crowd.id, :format => :xml}) %>
	<% end -%>
</head>
<body>
<div id="top"></div>
<div id="container">
	<div id="header">
		<span class="title"><%= link_to AppName, root_url %></span>
		<span class="login">
			<% if current_user -%>
				<% if current_user.crowds.size > 0 %>
					<% user_crowd = current_user.crowds.first %>
					<%= link_to "My crowds", '/' %>
					&nbsp;&nbsp;&nbsp;&nbsp;
				<% end %>
					<%= link_to "Sign Out", '/signout' %>
			<% else -%>
				Sign in with <% login_button -%>
			<% end -%>
		</span>
	</div>

	<div style="clear: both"></div>
	
	<!-- <div id="message">
		<b>Crowds Machine Back On!</b> <br />
		Sorry for the delays updating new items, we were a little overwhelmed with all the new feeds - from 500 feeds to over 31,000 in one week!
		You may still encounter slow loading "recent items" pages, but feeds are being updated at least once a day now. 
		Thanks for your patience :) If you encounter any problems please let me know: 
		<a href="mailto:niryariv@gmail.com">niryariv@gmail.com</a> or <a href="http://twitter.com/niryariv">@niryariv</a>.
	</div> -->

	<div id="main">
		<%= yield  %>
		<div id="footer-spacer"></div>
	</div>

</div>
<div id="footer">
	By <a href="http://niryariv.wordpress.com/">Nir Yariv</a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://http://github.com/niryariv/crowds/">Source Code</a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	Questions / Feedback: <a href="mailto:niryariv@gmail.com">niryariv@gmail.com</a>, <a href="http://twitter.com/niryariv">@niryariv</a> 
	<!-- &nbsp;&nbsp;&nbsp;&nbsp;
	Currently serving <%= Crowd.all.size %> crowds, with a total of <%= Feed.all.size %> content sources. -->
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-991158-8");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
